* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cajaHome {
  max-width: 120%;
  max-height: 100%;
  right: 5rem;
  position: relative;
  opacity: 0;
}

#rinrin {
  max-width: 115%;
  max-height: 100%;
  top: 6rem;
  position: relative;
}

.bg-imageHome {
  max-width: 100%;
  max-height: 100%;
  background-position-y: 0rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  min-height: 100vh;
}
.overlay {
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1055;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

iframe {
  margin: 0 auto;
  width: 1024px;
  height: 720px;
  float: left;
  clear: both;
  display: block;
  background-color: #eee;
}

.overlay.active {
  visibility: visible;
}

.VentanaJuego {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.VentanaJuego.active {
  visibility: visible;
}

.ContJuego {
  background: #242424;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  padding: 30px;
  top: 0;
  text-align: center;
  width: 1920px;
  transition: 0.4s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.ContJuego .btn-cerrar-ContJuego {
  font-size: 40px;
  line-height: 10px;
  display: block;
  text-align: right;
  color: rgb(255, 255, 255);
  transition: 0.3s ease all;
}

.ContJuego .btn-cerrar-ContJuego:hover {
  color: black;
}

.popup {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
  width: 1280px;
  transition: 0.4s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.popup .btn-cerrar-popup {
  font-size: 40px;
  line-height: 10px;
  display: block;
  text-align: right;
  color: rgb(255, 255, 255);
  transition: 0.3s ease all;
}

.popup .btn-cerrar-popup:hover {
  color: black;
}

#tituloVideo {
  opacity: 0;
}

#tierra {
  opacity: 0;
  animation: tierraA 1s ease 0.4s forwards;
  position: relative;
}

/* Animacion */

.popup.active {
  opacity: 1;
  transform: scale(1);
}

.ContJuego.active {
  opacity: 1;
  transform: scale(1);
}

#cajaHome.active {
  animation: imageRinRin 1s ease 0.5s forwards;
}

#tituloVideo.active {
  animation: tituloVideo 1s ease 1s forwards;
}

/* Botones planeta*/

.botonF1 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -150px;
  margin-bottom: 350px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}

.botonF2 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -420px;
  margin-bottom: 450px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}

.botonF3 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -355px;
  margin-bottom: 80px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}

/* Mas verde */

.globoJuego1 {
  width: 25rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -790px;
  margin-bottom: 465px;
  color: #fff;
  transition: 0.3s;
}

/* Prueba de hielo */

.globoJuego2 {
  width: 25rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -130px;
  margin-bottom: 360px;
  color: #fff;
  transition: 0.3s;
}

/* Rin Rin Corre Corre */

.globoJuego3 {
  width: 25rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -725px;
  margin-bottom: 90px;
  color: #fff;
  transition: 0.3s;
}

/* El niño curioso */

.globoLeyenda1 {
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -740px;
  margin-bottom: 365px;
  color: #fff;
  transition: 0.3s;
}

/* El gato energico */

.globoLeyenda2 {
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -200px;
  margin-bottom: 265px;
  color: #fff;
  transition: 0.3s;
}

/* La señora de las mil cosas */

.globoLeyenda3 {
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -745px;
  margin-bottom: 165px;
  color: #fff;
  transition: 0.3s;
}

/* El gato energico */

.globoActividad1 {
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -130px;
  margin-bottom: 365px;
  color: #fff;
  transition: 0.3s;
}

/* La señora de las mil cosas */

.globoActividad2 {
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -710px;
  margin-bottom: 465px;
  color: #fff;
  transition: 0.3s;
}

/* La señora de las mil cosas */

.globoActividad3 {
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -645px;
  margin-bottom: 95px;
  color: #fff;
  transition: 0.3s;
}

/* Botones leyenda*/

.botonFA {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -220px;
  margin-bottom: 250px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}

.botonFB {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -450px;
  margin-bottom: 350px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}

.botonFC {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -455px;
  margin-bottom: 150px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}

/* .imgBjuegos:hover {
  content: url("http://dummyimage.com/100x100/eb00eb/fff");
} */

.botonF1:hover {
  background: #1e1e1e;
}
.botonF2:hover {
  background: #1e1e1e;
}
.botonF3:hover {
  background: #1e1e1e;
}

@keyframes tituloVideo {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes imageRinRin {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}

@keyframes tierraA {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
