* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #1f1123;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader > div {
  vertical-align: middle;
  animation: zoom 20s infinite linear;
}
@keyframes zoom {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}
.contenidoPagina {
  display: none;
}

#cajaHome {
  max-width: 150%;
  max-height: 100%;
  right: 12rem;
  position: relative;
  opacity: 0;
}

#rinrin {
  max-width: 160%;
  max-height: 100%;
  top: 4rem;
  position: relative;
}

.bg-imageHome {
  max-width: 100%;
  max-height: 100%;
  background-position-y: 0rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  min-height: 100vh;
  background-color: #221541;
}

.overlay {
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1055;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

iframe {
  margin: 0 auto;
  width: 1024px;
  height: 720px;
  float: left;
  clear: both;
  display: block;
  background-color: #eee;
}

.overlay.active {
  visibility: visible;
}

.VentanaJuego {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.VentanaJuego.active {
  visibility: visible;
}

.ContJuego {
  background: #242424;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  padding: 30px;
  top: 0;
  text-align: center;
  width: 1920px;
  transition: 0.4s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.ContJuego .btn-cerrar-ContJuego {
  font-size: 40px;
  line-height: 10px;
  display: block;
  text-align: right;
  color: rgb(255, 255, 255);
  transition: 0.3s ease all;
}

.ContJuego .btn-cerrar-ContJuego:hover {
  color: black;
}

.popup {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
  width: 1500px;
  transition: 0.4s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.popup .btn-cerrar-popup {
  font-size: 40px;
  line-height: 10px;
  display: block;
  text-align: right;
  color: rgb(255, 255, 255);
  transition: 0.3s ease all;
}

.popup .btn-cerrar-popup:hover {
  color: black;
}

#tituloVideo {
  opacity: 0;
}

#tierra {
  opacity: 0;
  animation: tierraA 1s ease 0.4s forwards;
  position: relative;
}

.ARG {
  width: 10%;
  background-color: #1f1123;
}

/* Animacion */

.popup.active {
  opacity: 1;
  transform: scale(1);
}

.ContJuego.active {
  opacity: 1;
  transform: scale(1);
}

#cajaHome.active {
  animation: imageRinRin 1s ease 0.5s forwards;
}

#tituloVideo.active {
  animation: tituloVideo 1s ease 1s forwards;
}

/* Botones planeta*/

.botonF1 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -420px;
  margin-bottom: 450px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  animation: elevationButton 2s ease 2s;
  animation-iteration-count: infinite;
}

.botonFI {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -420px;
  margin-bottom: 550px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  animation: elevationButton 2s ease 2s;
  animation-iteration-count: infinite;
}

.botonF3 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -150px;
  margin-bottom: 350px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  animation: elevationButton 2s ease 2s;
  animation-iteration-count: infinite;
}

.botonFII {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -550px;
  margin-bottom: 190px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  animation: elevationButton 2s ease 2s;
  animation-iteration-count: infinite;
}

.botonF2 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -355px;
  margin-bottom: 80px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  animation: elevationButton 2s ease 2s;
  animation-iteration-count: infinite;
}

.botonFIII {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -225px;
  margin-bottom: 280px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  animation: elevationButton 2s ease 2s;
  animation-iteration-count: infinite;
}
/* Mas verde */

.globoJuego1 {
  opacity: 0;
  width: 25rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -780px;
  margin-bottom: 465px;
  color: #fff;
  transition: 0.3s;
}

/* Prueba de hielo */

.globoJuego3 {
  opacity: 0;
  width: 25rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -130px;
  margin-bottom: 360px;
  color: #fff;
  transition: 0.3s;
}

/* Rin Rin Corre Corre */

.globoJuego2 {
  opacity: 0;
  width: 25rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -725px;
  margin-bottom: 90px;
  color: #fff;
  transition: 0.3s;
}

/* El niño curioso */

.globoLeyenda1 {
  opacity: 0;
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -850px;
  margin-bottom: 425px;
  color: #fff;
  transition: 0.3s;
}

/* El gato energico */

.globoLeyenda3 {
  opacity: 0;
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -270px;
  margin-bottom: 265px;
  color: #fff;
  transition: 0.3s;
}

/* La señora de las mil cosas */

.globoLeyenda2 {
  opacity: 0;
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -905px;
  margin-bottom: 205px;
  color: #fff;
  transition: 0.3s;
}

/* El niño curioso */

.globoActividad2 {
  opacity: 0;
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -840px;
  margin-bottom: 205px;
  color: #fff;
  transition: 0.3s;
}

/* La señora de las mil cosas */

.globoActividad1 {
  opacity: 0;
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -710px;
  margin-bottom: 565px;
  color: #fff;
  transition: 0.3s;
}

/* El gato energico */

.globoActividad3 {
  opacity: 0;
  width: 20rem;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -205px;
  margin-bottom: 295px;
  color: #fff;
  transition: 0.3s;
}

/* Botones leyenda*/

.botonFA {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -560px;
  margin-bottom: 410px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  animation: elevationButton 2s ease 2s;
  animation-iteration-count: infinite;
}

.botonFB {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -615px;
  margin-bottom: 190px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  animation: elevationButton 2s ease 2s;
  animation-iteration-count: infinite;
}

.botonFC {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f44336;
  right: 90;
  bottom: 0;
  position: absolute;
  margin-left: -290px;
  margin-bottom: 250px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  animation: elevationButton 2s ease 2s;
  animation-iteration-count: infinite;
}
#Descubrir:hover {
  transform: scale(1.05);
  filter: contrast(110%) brightness(150%);
  transition: 0.3s;
}

#Descubrir:not(:hover) {
  transform: scale(1);
  transition: 0.3s;
}

/* HOVER DE LOS BOTONES DE MINIJUEGOS Y OTROS */

.botonF1:hover {
  transform: scale(1);
}
.globoJuego1:hover {
  transform: scale(1.05);
  padding-right: 1rem;
  opacity: 100;
}
.globoLeyenda1:hover {
  transform: scale(1.3);
  padding-right: 2.5rem;
  padding-bottom: 1.1rem;
  opacity: 100;
}
.globoActividad1:hover {
  transform: scale(1.3);
  padding-right: 2.5rem;
  padding-bottom: 1.1rem;
  opacity: 100;
}

.botonF2:hover {
  transform: scale(1);
}
.globoJuego2:hover {
  transform: scale(1.05);
  padding-right: 0.7rem;
  padding-bottom: 0.5rem;
  opacity: 100;
}
.globoActividad2:hover {
  transform: scale(1.3);
  padding-right: 2.5rem;
  padding-bottom: 1.1rem;
  opacity: 100;
}

.globoLeyenda2:hover {
  transform: scale(1.3);
  padding-right: 2.5rem;
  padding-bottom: 1.1rem;
  opacity: 100;
}

.botonF3:hover {
  transform: scale(1);
}

.globoJuego3:hover {
  transform: scale(1.05);
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  opacity: 100;
}

.globoLeyenda3:hover {
  transform: scale(1.05);
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  opacity: 100;
}

.globoActividad3:hover {
  transform: scale(1.3);
  padding-left: 2.5rem;
  padding-bottom: 1.1rem;
  opacity: 100;
}

.globoJuego3:hover .botonF3 {
  opacity: 100;
  animation: aparicionMensaje 1s ease 1s forwards;
}

#imgActividad {
  animation: elevationImage ease 3s;
  animation-iteration-count: infinite;
}
#Modal3 {
  overflow-y: hidden;
}

@keyframes elevationImage {
  0% {
    transform: scale(1);
    filter: contrast(100%) brightness(100%);
  }
  50% {
    transform: scale(1.05);
    filter: contrast(110%) brightness(120%);
  }
  100% {
    transform: scale(1);
    filter: contrast(100%) brightness(100%);
  }
}

@keyframes elevationButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes aparicionMensaje {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes tituloVideo {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes imageRinRin {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}

@keyframes tierraA {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
